<!DOCTYPE html>
<html>
  <head>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
{% block head %}{% endblock %}
  </head>
  <body>
    <ul>
      <li><a href="{{ url_for('index') }}#home">Accueil</a></li>
      <li><a href="{{ url_for('stages') }}">Stages</a></li>
      <li><a href="{{ url_for('about') }}">A Propos</a></li>
      <li style="float:right" ><a href="{{ url_for('recherche') }}">Recherche</a></li>
    </ul>

{% block content %}{% endblock %}

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
