{% extends 'base.html' %}
{% block content %}
<h1 class="mt-5">{{stage["stage_id"]}}</h1>
      <ul>
        {% for key in stage.keys() %}
          {% if key!='id' %}
            {% if key=='sujet_stage'%}
              <li> Sujet du stage : {{stage[key]}} </li>
            {% endif %}
            {% if key=='nom_eleve' %}
              <li> Nom de l'élève : {{stage[key]}} </li>
            {% endif %}
            {% if key=='mail_eleve' %}
              <li> Adresse e-mail de l'élève : {{stage[key]}} </li>
            {% endif %}
            {% if key=='nom_contact' %}
              <li> contact : {{stage[key]}} </li>
            {% endif %}
            {% if key=='mail_contact' %}
              <li> Adresse e-mail du contact : {{stage[key]}} </li>
            {% endif %}
            {% if key=='MOTS_CLES' %}
              <li> Mots clés : {{stage[key]}} </li>
            {% endif %}
          {% endif %} 
        {% endfor %}
      </ul>
<form class="form-inline mt-2 mt-md-0" method="post" action="/api/telechargement?liste={{stage['id']}}">

<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Données JSON</button>
</form>
{% endblock %}
