{% extends "base.html" %}

{% block content %}


<h1 class="mt-5">Stages</h1>
<div class="alert alert-primary" role="alert">
<h4 class="nocount""> Ci-dessous se trouve la liste des stages par ordre d'ajout. Pour une recherche plus avancée, utilise le bouton Recherche en haut à droite </h4> 
</div>
  <hr />
<ul style="list-style-type:circle;">
      {% for stage in liste_stages %}
{% if (stage.id in mots_cles["4 BIM"]) or  (stage.id in mots_cles["5 BIM"]) %}
<font color ="purple">
<li><a href="/stages/{{stage.id}}">{{ stage.sujet_stage }}</a></li>
</font>
{%endif%} 
{% if (stage.id in mots_cles["4 BB"]) or (stage.id in mots_cles["5 BB"]) %}
<font color ="green">
<li><a href="/stages/{{stage.id}}">{{ stage.sujet_stage }}</a></li>
</font>
{%endif%} 

      {% endfor %}
</ul>
{% endblock %}
