{% extends 'base.html' %}
{% block content %}
<h1 class="mt-5">{{stage["stage_id"]}}</h1>
      <ul>
        {% for key in stage.keys() %}
          {% if key!='id' %}
            {% if key=='sujet_stage'%}
              <li> Sujet du stage : {{stage[key]}} </li>
            {% endif %}
            {% if key=='nom_eleve' %}
              <li> Nom de l'élève : {{stage[key]}} </li>
            {% endif %}
            {% if key=='mail_eleve' %}
              <li> Adresse e-mail de l'élève : {{stage[key]}} </li>
            {% endif %}
            {% if key=='nom_contact' %}
              <li> contact : {{stage[key]}} </li>
            {% endif %}
            {% if key=='mail_contact' %}
              <li> Adresse e-mail du contact : {{stage[key]}} </li>
            {% endif %}
            {% if key=='MOTS_CLES' %}
              <li> Mots clés : {{stage[key]}} </li>
            {% endif %}
          {% endif %} 
        {% endfor %}
      </ul>
{% endblock %}
